/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css variable */
:root {
  --gray: hsl(0, 0%, 33%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --purple: hsl(258, 100%, 86%);
  --yellow: hsl(51, 98%, 65%);
}
/* global css */
button {
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 0.68rem 1.5rem;
  border-radius: 1.3rem;
  cursor: pointer;
}
/* container for responsive */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.3s ease;
}
body {
  font-family: "Inter", sans-serif;
}

/* navbar section starts */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  .navbar__logo {
    scale: 0.5;
  }

  .navbar__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-inline: 0.2rem;
    color: var(--black);
    display: none;
  }
  .navbar__btns {
    margin-inline: 10px;
    display: inline-flex;
    gap: 0.5rem;

    .navbar__btn {
      &:nth-child(2) {
        color: var(--white);
        background-color: var(--black);
        display: none;
      }
    }
    .navbar__svg {
      width: 38px;
      margin-inline-end: 30px;
    }
  }
}

/* navbar section starts */

/* hero section starts */
#hero {
  border-top: 1px solid var(--black);
  position: relative;
  background-image: url(img/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 89dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  border: 1px solid var(--black);
  background-color: var(--white);

  .hero__title {
    padding: 2rem 2rem 0 2rem;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
  }

  .hero__form {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    width: 100%;
  }

  .hero__btn {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--purple);
  }
}

.from__inputs {
  display: block;
  flex-basis: 100%;
  padding: 2rem 4rem;

  select {
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    border: none;
    background-color: hsl(0, 0%, 93%);
    border-radius: 0.5rem;
    margin-block: 0.5rem;
    padding-left: 5px;

    &:focus {
      outline: none;
    }
  }
}
.from__btns {
  padding: 0 4rem 2rem 4rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;

  .from__text {
    min-width: 50%;
    flex-grow: 2;
    font-size: 20px;
    color: var(--black);
    background-color: hsl(0, 0%, 93%);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;

    &:focus {
      outline: none;
    }
  }
  .from__btn {
    background-color: hsl(171, 100%, 46%);
    border-radius: 0.5rem;
    padding: 0.3rem 3rem;
  }
}
/* hero section ends */

/* brand section starts */
.brand {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  text-align: center;
  background-color: var(--yellow);

  .brand__title {
    margin-block-start: 4rem;
    margin-block-end: 2rem;
    font-size: 34px;
    font-weight: 400;
  }
  .brand__logos {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      margin: 0rem 2rem;
      padding: 0 2rem;
      width: 150px;
    }
  }
}

/* brand section ends */
/* Features section starts */
#Features {
  border-bottom: 1px solid var(--black);
}
.Features {
  position: relative;
  padding: 2rem;

  .Features__title {
    font-style: 34px;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 0.5px;
  }

  .Features__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  .Features__btn {
    cursor: pointer;
    display: inline;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 2rem;
    margin-block: 4rem 2rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--black);
  }
}
.card {
  width: 320px;
  margin-block-start: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-child(even) {
    position: relative;
    padding: 0rem 2.25rem;
    margin-block-end: 1rem;
    width: 390px;
  }

  .card__img {
    width: 80px;
    margin-block: 1rem;
  }
  .card__title {
    font-size: 20px;
    margin-block-end: 1rem;
  }
  .card__disc {
    color: var(--gray);
    font-size: 16px;
    margin-block-end: 1rem;
  }
  .card__link {
    color: var(--black);
    margin-block: 2rem 0rem;
  }
}
/* Features section ends */

/* offer section starts */
#offer {
  border-bottom: 1px solid var(--gray);
}
.offer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &::before {
    display: none;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--gray);
  }

  .offer__title {
    font-size: 30px;
    margin-block: 4rem 2rem;
  }
  .offer__btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: var(--black);
    color: var(--white);
    width: 220px;
    text-align: center;
    margin-block: 2rem 3rem;
    margin-inline: auto;
    border-radius: 1rem;
    font-size: 20px;
  }
}
.offer__view {
  display: flex;
  flex-direction: column;

  .card {
    width: 450px;
    height: 90px;
    border: 1px solid var(--black);
    margin-inline: auto;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .card__img {
      position: relative;
      width: 60px;
      margin-inline-start: 0.5rem;
    }
    .offer__balance {
      margin-inline-end: 0.5rem;
    }
  }
}
/* offer section ends */

/* login section starts */
#login {
  background-color: var(--purple);
  border-bottom: 1px solid var(--black);
}
.login {
  height: 400px;
  text-align: center;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .login__btn {
    font-size: 20px;
    margin-top: 4rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1rem;
    cursor: pointer;
  }
}
/* login section ends */

/* footer section starts */
#footer {
  background-color: var(--black);
  overflow-x: hidden;
}
.footer {
  color: var(--white);

  .footer__details {
    padding-block: 4rem 2rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    .footer__name {
      font-size: 40px;
      user-select: none;
    }

    .footer__subtitle {
      font-size: 25px;
      margin-block: 1rem;
    }
    .footer__links {
      cursor: pointer;
      margin-block: 0.5rem;
    }
  }
  .footer__copyright {
    position: relative;
    padding-inline: 2rem;
    padding-block: 1rem 2rem;
    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      width: 115%;
      height: 1px;
      background-color: var(--gray);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
/* footer section ends */

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* navbar section starts */
  #navbar {
    .navbar__logo {
      scale: 0.6;
    }
    .navbar__link {
      display: inline;
    }
  }
  /* navbar section ends */

  /* hero section starts */
  #hero {
    .hero {
      border-radius: 1rem;
    }
  }
  /* hero section ends */

  /* Features section starts */
  #Features {
    .Features__details {
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;

      .card {
        &:nth-child(even) {
          &::before {
            display: none;
            content: "";
            position: absolute;
            left: -45%;
            transform: translateX(50%);
            height: 1px;
            width: 120px;
            background-color: var(--gray);
          }
          &::after {
            display: none;
            content: "";
            position: absolute;
            right: -42%;
            transform: translateX(50%);
            height: 1px;
            width: 100px;
            background-color: var(--gray);
          }
          margin-block-start: 2rem;
        }
      }
    }
  }

  /* Features section ends */

  /* offer section starts */
  #offer {
    .offer {
      flex-direction: row;
      justify-content: space-around;
      position: relative;
    }
  }
  /* offer section ends */

  /* login section starts */

  .login {
    height: 450px;
    font-size: 38px;
  }

  /* login section ends */

  /* footer section starts */
  #footer {
    .footer__details {
      align-items: start;
    }
  }
  /* footer section ends */
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  /* navbar section starts */
  #navbar {
    .navbar__btn {
      &:nth-child(2) {
        display: block;
      }
    }
  }

  /* navbar section ends */

  /* hero section */
  .from__inputs {
    display: flex;
    gap: 0.5rem;
  }
  /* hero section starts */
  #hero {
    .hero__btn {
      bottom: 100px;
      cursor: pointer;
    }
  }
  /* hero section ends */
  /* offer section starts */
  #offer {
    .offer {
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      &::before {
        display: block;
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: var(--gray);
      }
    }
  }
  /* offer section ends */
  /* login section starts */

  .login {
    font-size: 45px;
  }

  /* login section ends */
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  /* Features section starts */
  #Features {
    .Features__details {
      .card {
        &:nth-child(even) {
          &::before {
            display: block;
            left: -25%;
            width: 65px;
          }
          &::after {
            display: block;
            right: -8.5%;
            width: 65px;
          }
        }
      }
    }
  }

  /* Features section ends */
  /* login section starts */

  .login {
    font-size: 60px;
  }

  /* login section ends */
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  /* Features section starts */
  #Features {
    .Features__details {
      .card {
        &:nth-child(even) {
          &::before {
            left: -58%;
            width: 150px;
          }
          &::after {
            display: block;
            right: -19.5%;
            width: 150px;
          }
        }
      }
    }
  }

  /* Features section ends */
  /* login section starts */

  .login {
    font-size: 75px;
  }

  /* login section ends */
}
